<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div th:insert="~{moderator/_fragments/header :: header}"></div>

<div class="container">
    <h2 class="h2">Balances Add</h2>
</div>

<div class="container">
    <form th:action="@{/moderator/balances/add}" method="post" class="form">
        <div>
            <label for="value">Value:</label>
            <input type="text" id="value" name="value" required="required"/>
        </div>

        <div>
            <button id="add-submit-button" type="submit">Create</button>
        </div>
    </form>
</div>

</body>
</html>